/*comentario de prueba*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f1f5f9;
    
}
.custom-navbar {
    background-color:  #e2e8f0;
    padding: 5px 10px;
    border-bottom: 1px solid #94a3b8;
}

main {
    padding-top: 90px;
}

footer {
    background-color: #0f172a;
    color: #ffffff;     
    border-top: 1px solid #1e293b;
    padding: 10px 0;
    text-align: center;
}

footer p {
    color: #e5e7eb;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #1e293b;

}

.table thead th{
    background-color: cadetblue;
    color: white
}